/*
  Author: Richard Pinegar | Rich Pin Software
  Date: February 2026
  Site Info: Rich Pin Software Official Website
  Content: CSS Root Styles and Imports
*/

@import url(/css/components/header.css);
@import url(/css/components/footer.css);
@import url(/css/variables.css);

*, *::before, *::after {
	box-sizing: border-box;
}
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	height: 100%;
	min-height: 100vh;
	padding-bottom: var(--footer-height);
	font-family: var(--primary-font);
  font-size: 1.0rem;
	font-weight: var(--primary-font-weight);
	font-style: var(--primary-font-style);
	line-height: 1.4;
	background-color: var(--bg-color);
}
main {
	width: 100vw;
	padding: var(--main-padding);
}
main > * {
	width: var(--content-width);
	margin-left: auto;
	margin-right: auto;
}
/* Responsive Styles */
/* @media (max-width: 800px) {
	:root { --content-width: 100%; }
	main > * {
		padding-left: 1rem;
		padding-right: 1rem;
	}
} */

