/*
  Author: Richard Pinegar | Rich Pin Software
  Date: February 2026
  Site Info: Rich Pin Software Official Website
  Content: CSS Footer Styles
*/

@import url(/css/variables.css);

footer {
	width: 100vw;
	height: var(--footer-height);
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 100;
	display: grid;
	align-items: center;
  padding: 0 var(--padding);
	background: var(--primary-alt-color);
	color: var(--secondary-text-color);
	border-top: 1px solid rgba(0,0,0,0.06);
}
footer > * {
	width: var(--content-width);
	margin-left: auto;
	margin-right: auto;
}
footer a {
	color: inherit;
	text-decoration: none;
}
footer a:hover { 
	opacity: 0.95; 
}
.footer-logo {
	display: inline-block;
	height: calc(var(--footer-height) - 24px);
	vertical-align: middle;
}

/* @media (max-width: 800px) {
	footer > * {
		width: 100%;
		padding: 0 1rem;
	}
} */