/*
	Author: Richard Pinegar | Rich Pin Software
	Date: February 2026
	Site Info: Rich Pin Software Official Website
	Content: CSS Header Styles
*/

@import url(/css/variables.css);

header {
	width: 100vw;
	height: var(--header-height);
	position: fixed;
	top: 0;
	z-index: 100;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
	margin: 0;
	padding: 0 var(--padding);
	background: var(--primary-color);
	color: var(--secondary-text-color);
}
header div {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
}
header div > * {
  margin: 0;
}
header #company-info {
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
header #hamburger-menu {
  align-items: center;
  justify-content: end;
}
header #hamburger-dropdown {
  display: none;
  position: absolute;
  top: var(--header-height);
  right: 0;
  width: auto;
  height: auto;
  padding: var(--padding) calc(var(--padding) + 5px);
  background: var(--primary-color);
  border: 1px solid rgba(0,0,0,0.1);
}
header #hamburger-dropdown.show {
  display: block;
}
header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
header li {
  margin: 10px 0;
}
header h1 {
  height: auto;
}
header i {
  height: auto;
  font-size: 4.0rem;
}
/* header > * {
	width: var(--content-width);
	margin-left: auto;
	margin-right: auto;
	color: var(--secondary-text-color);
	text-align: left;
} */
header a {
	color: inherit;
	text-decoration: none;
}
header a:hover {
	opacity: 0.9;
}

/* @media (max-width: 800px) {
	header > * {
		width: 100%;
		padding: 0.75rem 1.0rem;
		text-align: left;
	}
} */



